body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background:#ffffff url(assets/bg_gradient.jpg) repeat-x top;
}

/* area taken from roblonium */

div.SystemAlert {
    width: 906px;
    margin: 0 auto 5px;
    border: 1px solid gray;
    text-align: center;
    color: #FFF;
    padding: 1px;
}

/* area taken from old mid-2009 roblox wayback machine rip */

#Container {
	margin:0 auto;
	width:900px;
}

#MasterContainer {
	width:100%;
}

#Movie {
 width:424px;
 height:250px;
}

.FrontPagePanel {
 float:left;
 border:solid 1px black;
 margin:5px;
 background-color:White;
}
#SignInPane {
 border:none;
 margin-left:0;
 width:152px;
 height:250px;
}

#LoginView {
 border:solid 1px Black;
 width:150px;
 height:250px;
}
#LoginView h5 {
 background-color:#ccc;
 border-bottom:solid 1px #000;
 margin:0;
}
#LoginView #AlreadySignedIn {
 background-color:#eee;
}
#LoginView .Label {
 font-weight:bold;
}
#LoginView .Text {
 width:133px;
}
#LoginView .AspNet-Login {
 height:225px;
 background-color:#eee;
}
#LoginView .AspNet-Login .AspNet-Login-InstructionPanel,
#LoginView .AspNet-Login .AspNet-Login-HelpPanel,
#LoginView .AspNet-Login .AspNet-Login-UserPanel,
#LoginView .AspNet-Login .AspNet-Login-PasswordPanel,
#LoginView .AspNet-Login .AspNet-Login-RememberMePanel {
 padding:3px 5px 3px 5px;
 text-align:left;
}
#LoginView .AspNet-Login .AspNet-Login-SubmitPanel,
#LoginView .AspNet-Login .AspNet-Create-Account {
 padding:10px 5px 5px 10px;
 text-align:center;
}
#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel {
 padding:5px 5px 5px 5px;
 text-align:center;
}
#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel a {
 color:#999;
 font:normal 9px/normal Verdana,sans-serif;
 padding:5px 5px 5px 5px;
 text-align:center;
}
#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel a:hover {
 color:Blue;
}

h2 {
	letter-spacing:1px;
}
h3 {
	font-size:12pt;
	font-weight:bold;
	letter-spacing:2px;
	margin:10px 0 10px 0;
}

h5 {
    font: normal 11px/normal 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    padding: 1px;
}

#Footer {
	font:normal 12px/normal 'Source Sans Pro', sans-serif;
	margin-top:10px;
	width:900px;
	text-align:center;
}

.Legalese {
    font-size: 12px;
}

#Footer .Legalese {
    margin: 0;
}

#RandomFacts {
	float:right;
	margin-right:0;
	width:300px;
	height:150px;
}
.RandomFactoid {
	text-align:center;
	height:32px;
	width:290px;
	padding:2px;
	overflow:hidden;
	font: normal 9px/normal Verdana,sans-serif;
}
#marqueecontainer {
	position:relative;
	width:300px;
	height:100px;
	background-color:white;
	overflow:hidden;
}
.RandomFactoid img {
	float:left;
}

/*	area taken from early-2006 youtube archive rip, i have parts of CSS that's older than me on my site. epic.*/
.moduleEntry {
	background-color: #DDD;
	background-image: url(https://2003page.ga/assets/table_results_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
/*	border-bottom: 1px dashed #999999; */
}