body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:#ffffff url(assets/bg_gradient.jpg) repeat-x top;
}

/* area taken from old mid-2009 roblox wayback machine rip */
h2 {
	letter-spacing:1px;
}
h3 {
	font-size:12pt;
	font-weight:bold;
	letter-spacing:2px;
	margin:10px 0 10px 0;
}

h5 {
    font: normal 11px/normal Verdana,sans-serif;
    letter-spacing: 1px;
    padding: 5px 5px 5px 5px;
}

#Footer {
	font:normal 8px/normal Verdana,sans-serif;
	margin-top:10px;
	width:900px;
	text-align:center;
}

.Legalese {
    font-size: 7pt;
}

#Footer .Legalese {
    margin: 0;
}

#RandomFacts {
	float:right;
	margin-right:0;
	width:300px;
	height:150px;
}
.RandomFactoid {
	text-align:center;
	height:32px;
	width:290px;
	padding:2px;
	overflow:hidden;
	font: normal 9px/normal Verdana,sans-serif;
}
#marqueecontainer {
	position:relative;
	width:300px;
	height:100px;
	background-color:white;
	overflow:hidden;
}
.RandomFactoid img {
	float:left;
}

.moduleEntry {
	background-color: #DDD;
	background-image: url(https://2003page.ga/assets/table_results_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
/*	border-bottom: 1px dashed #999999; */
}